.membership-form-container {
  max-width: 300px;
  margin: 0 auto;
}

.membership-form-control {
  margin-bottom: 15px;
}

.membership-form-control label {
  display: block;
  margin-bottom: 5px;
}

.membership-form-control input,
.membership-form-control select,
.membership-form-control textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 1em;
}

.membership-error {
  color: red;
  font-size: 0.875em;
}

.membership-btn {
  width: fit-content;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.membership-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}